@charset "UTF-8";


/* 共通部分 */
/* ーーーーーーーーーーーーーーーーー */

/* 全体のフォントサイズ */
html {
    font-size: 100%;
}
/* Body内のフォント、行間、色 */
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
/* リンクの装飾 */
a {
    text-decoration: none;
}
/* 画像サイズ */
img {
   max-width: 100%;
}

/* 共通幅設定 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

/* ーーーーーーーーーーーーーーーーー */
/* 共通部分 ここまで */


/* ヘッダー部分 */
/* ーーーーーーーーーーーーーーーーー */

/* ロゴ設定 */
.logo {
    width: 210px;
    margin-top: 14px;
}

/* ナビゲーションメニューの設定 */
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

/* 上記メニューのリスト設定 */
.main-nav li {
    margin-left: 36px;
}

/* リンク文字 */
.main-nav a {
    color: #fff;
    text-shadow: 3px 3px 2px #333;
}

/* リンクにカーソル合わせた時 */
.main-nav a:hover {
    color: #623315;
}

/* ロゴとリンク 横並び */
.page-header {
    display: flex;
    justify-content: space-between;
}

/* ーーーーーーーーーーーーーーーーー */
/* ヘッダー部分 ここまで */


/* ホームページ */
/* ーーーーーーーーーーーーーーーーー */

/* content設定 */
.home-content {
    text-align: center;
    margin-top: 10%;
    color: #fff;
}

/* content 文字設定 */
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 54px;
    text-shadow: 3px 3px 2px #111;
}

/* content 見出し */
.page-title {
    font-size: 5rem;
    font-family: "Philosopher", serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 6px 4px 4px #222;
}

/* content ボタン */
.button {
    font-size: 1.375rem;
    background: #87461d;
    color: #ffffff;
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
    background: #623315;
}

/* 背景画像 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* id home 設定 */
#home {
    background-image: url(../images/org_cafe_main_bg.jpg);
    min-height: 100vh;
    background-color: #999;
    background-blend-mode: soft-light;
}

#home .page-title {
    text-transform: none;
}

/* ーーーーーーーーーーーーーーーーー */
/* ホームページ ここまで */


/* ニュースページ */
/* ーーーーーーーーーーーーーーーーー */

#news {
    background-image: url(../images/org_cafe_news_bg.png);
    background-size: cover;
    background-color: #555;
    background-blend-mode: soft-light;
    height: 300px;
    margin-bottom: 40px;
}

#news .page-title {
    text-align: center;
    color: #fff;
}

/* ニュース部分 コンテンツ */
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* 1カラム目 */
article {
    width: 72%;
}

article img {
    margin-bottom: 20px;
}

article p {
    margin-bottom: 1rem;
}

/* ２カラム目 */
aside {
    width: 24%;
}

aside .sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px solid #87461d;
    font-weight: normal;
}

aside p {
    padding: 12px 10px;
}

aside .sub-menu {
    margin-bottom: 60px;
    list-style: none;
}

aside .sub-menu li {
    border-bottom: 1px solid #ddd;
}

aside .sub-menu a {
    color: #87461d;
    padding: 10px;
    display: block;
}

aside .sub-menu a:hover {
    /* color: #271409; */
    color: #dfbc3e;
}

.news-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}

/* 日付表示 */
.news-date {
    background: #623315;
    border-radius: 50%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.325rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.news-date span {
    font-size: 1rem;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    padding-top: 1px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

/* 日付横タイトル */
.news-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.news-title,
.news-cat {
    margin-left: 120px;
}

/* ーーーーーーーーーーーーーーーーー */
/* ニュースページ ここまで */


/* フッター部分 */
/* ーーーーーーーーーーーーーーーーー */

footer {
    background: #623315;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 1rem;
}


/* ーーーーーーーーーーーーーーーーー */
/* フッター部分 ここまで */


/* レスポンシブ設定 */
/* ーーーーーーーーーーーーーーーーー */

@media (max-width: 599px) {

    /* index.html */
    .page-title {
        font-size: 2.5rem;
    }

    /* ヘッダー */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .main-nav li {
        margin: 0 20px;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* Home */
    .logo {
        width: 320px;
        margin-top: 24px;
    }
    .home-content {
        margin-top: 20%;
    }

    /* News */
    .news-contents {
        flex-direction: column;
    }
    article,
    aside {
        width: 100%;
    }

    #news .page-title {
        margin-top: 8px;
        font-size: 4rem;
    }
    aside {
        margin-top: 60px;
    }
    .news-info{
        margin-bottom: 20px;
    }
    .news-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
        padding-top: 5px;
        left: 5%;
    }
    .news-date span {
        font-size: 0.675rem;
        padding-top: 1px;
    }
    .news-title {
        font-size: 1.625rem;
    }
    .news-cat {
        font-size: 0.875rem;
        margin-top: 8px;
    }
    .news-title,
    .news-cat {
        margin-left: 120px;
    }

}


/* ーーーーーーーーーーーーーーーーー */
/* レスポンシブ設定 ここまで */